@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400; 0,700; 1,400; 1.700&family=Doppio+One&display=swap');

:root{
  --clr-black:#000000;
  --clr-white: #f8f9fa;
  --clr-grey: #dee2e6;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Doppio One", sans-serif;
  background-color: var(--clr-black);
}

h1{
  margin: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.body{
  background-color: var(--clr-black);
}

.logo{
  max-width: 80px;
  max-height: 80px;
  margin-left: 1rem;
}
